result
*.qcow2
.Trash-1000

# Used by install.sh to temporarily store private keys before they are bootstrapped with secrets
.tmp

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
nix.profile

